<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/database.svg" />
    <title>Kahiin DB</title>
    <link rel="stylesheet" href="/assets/web-style.css"></link>
</head>
<body>
    <div class="container">
        <img src="/assets/app-icon.png">
        <h1>Reimpostazione della Password</h1>
        <p>La tua password è stata reimpostata con successo.</p>
    </div>
</body>
</html>